<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6uvUCLk0je_piENclyL7D_lF0NVLyPLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>83420419229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.moviebot</string>
	<key>PROJECT_ID</key>
	<string>movie-bot-ubqhol</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-bot-ubqhol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83420419229:ios:a8693d184b45252d9b7074</string>
</dict>
</plist>